/* GLOBAL: #Red
================================================== */

a, a:visited,
a:focus {
	color: #ff1131;
}

a:hover { color: #ff514f; }

#navigation > li > .btn.register,
#navigation > li > .btn.register:visited,
#btop, #btop:visited,
.flex-direction-nav .flex-next,
.flex-direction-nav .flex-prev,
input[type=submit],
.btn, .btn:visited,
.wpcf7 input[type=submit] {
	background-color: #aa4e36; /*XXX #ff1131 XXX*/
}

#navigation > li > .btn.register,
#navigation > li > .btn.register:visited,
#btop, #btop:visited,
input[type=submit],
.btn, .btn:visited,
.wpcf7 input[type=submit] {
	color: #FFF;
}

#navigation > li > .btn.register:hover,
#btop:hover,
input[type=submit]:hover,
.btn:hover,
.wpcf7 input[type=submit]:hover {
	background: #ff514f;
}


